button { transition: all 0.5s;}

.page-score {
    display: grid; 
    grid-template-columns: auto;
    gap: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page-score-main {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;

}

.page-score-header {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(196, 196, 196, 0.50);
    margin-top: 50px;
    height: 100%;
    width: 1000px;
}

.page-score-header button {
    background-color: rgba(196, 196, 196, 0.75);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;
}
.page-score-header button:hover {
    background-color: rgba(155, 155, 155, 0.75);
}

.score-main-results {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(196, 196, 196, 0.50);
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
}

.score-main-results-scores {
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}

.score-main-results-scores-each {
    display: grid;
    grid-template-columns: auto;
    background: rgba(196, 196, 196, 0.75);
    padding-bottom: 10px;
}

.results-each-section-title {
    display: grid;
    padding: 10px 70px;
    
    grid-template-columns: auto auto auto;
    border-radius: 4px;
    gap: 15px;
}

.results-each-section-number {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.results-each-section-country {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.results-each-section-history {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.results-each-section-country-history {
    display: grid;
    grid-template-columns: auto auto auto;
}

.score-main-matches {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(196, 196, 196, 0.50);
    justify-content: center;
    gap: 50px;
    padding: 15px 0;
}

.score-main-matches-each {
    display: grid;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.7) 0%, rgba(123, 120, 120, 0) 100%);
    border: 1px solid #C5C0C0;
    box-sizing: border-box;
    border-radius: 6px;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    gap: 0px;
}

.score-main-matches-each-button {
    width: 70px;
    height: 25px;
    background: #C4C4C4;
    border: 1px solid #988E8E;
    box-sizing: border-box;
    justify-self: center;
    text-align: center;
}

.score-main-matches-each-button:hover {
    background-color: #b1b1b1;
    border: 1px solid #988E8E;
    box-sizing: border-box;
}

.score-main-matches-each-title {
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-between;
}
.score-main-matches-each-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.score-main-matches-each-time {
    display: grid;
    grid-template-columns: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
}
.score-main-matches-each-functionality {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 0 20px;
}

.score-main-matches-each-functionality button {
    width: 70px;
    height: 25px;
    background: #C4C4C4;
    border: 1px solid #988E8E;
}

.score-main-matches-each-functionality button:hover {
    background: #9e9e9e;
}